.login-wrapper {
  margin: 0 18% 0;
  display: flex;
  justify-content: left;
  align-items: flex-start;  
  padding-top: 40px;        
  background: #eaf1ff;
  font-family: 'Segoe UI', sans-serif;
}


.login-card {
  width: 380px;
  padding: 42px 38px;
  border-radius: 22px;

  background: linear-gradient(
    160deg,
   #8b5888 0%,
   #b07aae 45%,
    #7a5bdc 70%,
    #8b6cff 100%
  );

  box-shadow:
    0 30px 60px rgba(76, 70, 175, 0.35),
    inset 0 0 0 1px rgba(255, 255, 255, 0.08);

  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.login-card::after {
  content: '';
  position: absolute;
  bottom: -70px;
  right: -70px;
  width: 240px;
  height: 240px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.35),
    transparent 70%
  );
  filter: blur(25px);
  pointer-events: none;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 6px;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 34px;
}

.input-group {
    position: relative;
  margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffe3ff;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 35px; 
  border-radius: 14px;
  border: none;
  outline: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.22);
  color: #ffe3ff;
}

.input-group input::placeholder {
  color: #ffe3ff;
}

.input-group input:focus {
    border-color: #ffe3ff;
}

.login-btn {
  width: 100%;
  padding: 15px;
  margin-top: 10px;

  border-radius: 14px;
  border: none;

  background: linear-gradient(
    135deg,
    #8f8cff,
    #6c63ff
  );

  color: #6a2f68;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 12px 32px rgba(108, 99, 255, 0.55);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 16px 40px rgba(108, 99, 255, 0.75);
}

.footer-text {
  margin-top: 22px;
  text-align: center;
  font-size: 13px;
  opacity: 0.95;
}

.footer-text a {
  color: #ffe3ff;
  font-weight: 600;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}
