.register-page {
  margin: 0 18% 0;
  display: flex;
  justify-content: left;
  align-items: flex-start;  
  padding-top: 40px;        
  background: #eaf1ff;
  font-family: 'Segoe UI', sans-serif;
}

.register-card {

    background: linear-gradient(
         160deg,
   #8b5888 0%,
   #b07aae 45%,
    #7a5bdc 70%,
    #8b6cff 100%
        );
  box-shadow:
    0 30px 60px rgba(76, 70, 175, 0.35),
    inset 0 0 0 1px rgba(255, 255, 255, 0.08);  backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 40px 35px;
  width: 100%;
  max-width: 420px;
  text-align: center;
  color: #fff;
}

.register-card h2 {
  font-size: 28px;
  margin-bottom: 6px;
}

.register-card p {
  opacity: .9;
  margin-bottom: 25px;
}

.input-group {
  position: relative;
  margin-bottom: 18px;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: #d9b7d8;
}

.input-group input {
  width: 100%;
  padding: 12px 14px 12px 42px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255,255,255,.2);
  color: #fff;
  font-size: 15px;
  transition: .3s ease;
}

.input-group input::placeholder {
  color: #f1dff1;
}

.input-group input:focus {
  background: rgba(255,255,255,.3);
  box-shadow: 0 0 0 2px rgba(255,255,255,.4);
}

button {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(135deg, #ffd1ff, #f1b6ee);
  color: #6a2f68;
  font-weight: 600;
  transition: .3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,.25);
}

button:disabled {
  opacity: .6;
  cursor: not-allowed;
}

.feedback {
  margin-top: 12px;
  font-size: 14px;
}

.feedback.error {
  color: #b10000;
}

.feedback.success {
  color: #1fcc0fe5;
}

.login-link {
  margin-top: 18px;
  font-size: 14px;
}

.login-link a {
  color: #ffe3ff;
  font-weight: 600;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
